<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- 	<key>EnvironmentVariables</key>
	<dict>
		<key>DYLD_LIBRARY_PATH</key>
		<string>/usr/local/bin/</string>
	</dict> -->
<!-- 	<key>KeepAlive</key>
	<true/> -->
	<key>Label</key>
	<string>com.services-rsync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/Sengoku/.user_shell_scripts/services-rsync</string>
		<string>bash</string>
		<string>-c</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/Sengoku/Library/Logs/services-rsync-login.log</string>
	<key>StandardOutPath</key>
	<string>/Users/Sengoku/Library/Logs/services-rsync-login.log</string>
</dict>
</plist>